<% include ./partials/header %>
<h4>
	Login
</h4>
<form action="/login" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>
		Submit
	</button>
</form>
<% include ./partials/footer %>